// @import "../home/home.component.scss";

.page__content-data {
    // top: 39%;
    height: 100%;
    width: 100%;
    padding: 2%;
}

table {
    height: 100%;
    width: 100%;
}

button {
    color: black;
}

th {
    // text-align: center;
    font-size: large;
    background: rgb(160, 160, 160);
    font-weight: bold;
}

td.Pending {
    color: red;
    font-weight: bold;
}

td.Delivered {
    color: green;
    font-weight: bold;
}

tr.mat-row:hover {
    background: rgb(215, 212, 212);
    transition: 0.3s ease-in-out;
    transform: scale(1.02);
    height: 52px;
}

.cancelBtn {
    color: red;
}