<mat-card class="self-center">
  <form class="form self-center content-center-col" [formGroup]="user" (ngSubmit)="onLogin()">
    <mat-label>
      <h1>Login Page</h1>
    </mat-label>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex. test@test.com" formControlName="email">
    </mat-form-field>
  
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="******" formControlName="password">
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="!user.valid">Login</button>
  </form>
</mat-card>
