
.full-width {
    width: 100%;
}



.content-center-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-center-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 10%;
}

div.content-center-row{
    width: 100%;
}