<mat-card class="content">
  <mat-toolbar color="primary" *ngIf="show">
    <mat-toolbar-row>
      <span>Registration Complete :)</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <form class="my-form content content-center-col" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-label class="title">
      <h1>Registration Page</h1>
    </mat-label>

    <div formGroupName="name" class="full-width">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstname" placeholder="First name">
      </mat-form-field>
      <div *ngIf="fName.invalid && (fName.dirty || fName.touched)" class="alert alert-danger">
        <div *ngIf="fName.errors">
          Name cannot be blank or number
        </div>
      </div>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname" placeholder="Last Name" name="lname">
      </mat-form-field>
      <div *ngIf="lName.invalid && (lName.dirty || lName.touched)" class="alert alert-danger">
        <div *ngIf="lName.errors">
          Name cannot be blank or number
        </div>
      </div>
    </div>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>
    <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger full-width">
      <div *ngIf="uName.errors">
        Username only takes alphabets and number
      </div>
    </div>


    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" name="email" type="email">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Password" name="password" type="password">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Phone No</mat-label>
      <input matInput formControlName="phone" placeholder="phone" name="phone" type="number">
    </mat-form-field>
    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger full-width">
      <div *ngIf="phone.errors">
        Phone no only contains number
      </div>
    </div>

    <div formGroupName="address" class="full-width">
      <mat-label>
        <h2>Address</h2>
      </mat-label>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>City: </mat-label>
        <input matInput formControlName="city">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Street: </mat-label>
        <input matInput formControlName="street">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Holding No:</mat-label>
        <input matInput formControlName="number">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Zip Code:</mat-label>
        <input matInput formControlName="zipcode" type="number">
      </mat-form-field>
      <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
        <div *ngIf="code.errors">
          Zip code only contains number
        </div>
      </div>
    </div>

    <mat-card-actions class="button">
      <button mat-raised-button color="primary" type="submit" [disabled]="profileForm.invalid">REGISTER</button>
      <button mat-raised-button color="primary" type="button" (click)="profileForm.reset()"
        class="resetButton">RESET</button>
    </mat-card-actions>
  </form>
</mat-card>