<mat-nav-list>
  <div class="logo py-4 brand">
    <a class="navbar-brand brand" [routerLink]="['/products']">
      E<span class="dot">.</span>SHOP
    </a>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">
    <button mat-button>
      <mat-icon>dashboard</mat-icon> Dashboard
    </button>
  </a>
  <a mat-list-item>
    <button mat-button (click)="openDialog()"><i class='fa fa-shopping-bag'></i> Add Product</button>
  </a>
  <div>
    <a mat-list-item>
      <button mat-button [matMenuTriggerFor]="menu" >
        <mat-icon>store</mat-icon>Product
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </a>
    <mat-menu #menu>
      <a  routerLinkActive="list-item-active" routerLink="product">
        <button mat-menu-item>
          <mat-icon>list</mat-icon>
          ProductList
        </button>
      </a>
    </mat-menu>
  </div>
 
  <div>
    <a mat-list-item>
      <button mat-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
        <mat-icon> table_chart</mat-icon>Order
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </a>
    <mat-menu #menu2="matMenu">
      <a  routerLinkActive="list-item-active" routerLink="order">
        <button mat-menu-item>
          <mat-icon>list</mat-icon>
          <span>OrderList</span>
        </button>
      </a>
    </mat-menu>
  </div>
</mat-nav-list>