<mat-nav-list>
    <div class="logo py-4 brand">
        E<span class="dot">.</span>SHOP
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">
      <button mat-button> <mat-icon>dashboard</mat-icon> Dashboard</button>
     
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="product">
      <button mat-button> <mat-icon>list</mat-icon> Product List</button>
    </a>
    <a mat-list-item>
      <button mat-button (click)="openDialog()"><i class='fa fa-shopping-bag'></i> Add Product</button>
    </a>  
  </mat-nav-list>
  