.card img{
    width: 70%;
    height: 80%;
}
.btn-ico{
    border: none;
    border-radius: 20px;
}
.btn-ico:hover{
    color: white;
    background-color:grey;
}
.quant{
    display: flex;
    column-gap: 10px;
    height: 25px;
}
input{
    border: none;
    text-align: center;
    width: 50px;
}
.btn{
    margin-left: auto;
}
.add-cart{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
mat-radio-button{
    margin-right: 10px;
}