<div class="container">
    <div class="row">
        <div class="card py-3">
            <button class="btn w-auto" (click)="close()"><i class="fas fa-times"></i></button>
            <div class="table">
                <tr>
                    <td class="col-sm-4">
                        <img [src]="data.image" alt="">
                        <h5 class="text-secondary">
                            {{data.description}}
                        </h5>
                    </td>
                    <td class="col-sm-8">
                        <div class="row">
                            <h2 class="h2">{{data.title}}</h2>
                            <h5 class="h5">
                                {{data.rating.rate}} | Review ({{data.rating.count}})
                            </h5>
                            <h4 class="h4">
                                <span class="text-secondary">Category</span> : {{data.category}}
                            </h4>
                            <hr>
                            <h1 class="h1 text-warning">
                                {{data.price}}$
                            </h1>
                            <h5>
                                <del>{{(data.price+data.price*.3).toFixed(2)}}</del> <strong> -30% </strong>
                            </h5>
                            <hr>
                            <ng-container *ngFor="let var_key of var_keys; let i = index">
                                <div class="row">
                                    <h4 class="h4 text-secondary" class="col-md-4">{{var_key}}</h4>
                                    <mat-radio-group class="col-md-8" [(ngModel)]="variation[var_key]">
                                        <mat-radio-button *ngFor="let var_val of data.variation[var_key]" [value]="var_val">
                                            {{var_val}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </ng-container>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="h4 text-secondary">Quantity</h4>
                                </div>
                                <div class="col-md-8 quant">
                                    <button class="btn-ico" (click)="increaseQuantity()"><i class="fas fa-plus"></i></button>
                                    <input type="text" [value]="quantity" [(ngModel)]="quantity">
                                    <button class="btn-ico" (click)="decreaseQuantity()"><i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </div>
            <button class="btn btn-primary add-cart" (click)="addtocart(data)"><i class="fas fa-cart-plus"></i></button>
        </div>
    </div>
</div>
<br>
