<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <ng-container *ngFor="let item of carouselItems;let i = index">
        <div class="carousel-item" [ngClass]="i == 0? 'active':''">
          <div class="carousel-caption">
            <div class="container">
              <div class="row">
                <div class="text-white">
                  <span>New Arival</span>
                  <h2>
                    {{item.title}}
                  </h2>
                  <p>
                    {{item.description}}
                  </p>
                  <br>
                  <div class="d-flex justify-content-around">
                    <a (click)="addtocart(item)" class="btn btn-carousel">Add to cart</a>
                    <a (click)="viewProduct(item)" class="btn btn-carousel">Discover</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img [src]="item.image" class="carousel-img">
        </div>
      </ng-container>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row">
  <div class="col-sm-2 bg-light py-3 d-flex flex-column ">
    <p class="text-center h3">All Category</p><hr>
    <button class="btn" (click)="filterNone()">
      All products
    </button>
    <ng-container *ngFor="let cat of categories">
      <button class="btn" (click)="filterProduct(cat)">
        {{cat}}
      </button>
    </ng-container>
  </div>

  <div class="container col-sm-10">
    <div class="row justify-content-center">
      <ng-container *ngFor="let item of filterCategory">
        <div class="card col-md-3" >
          <div (click)="viewProduct(item)">
            <div class="img-wrap">
              <img mat-card-image src="{{item.image}}" alt="" class="prodct-img">
            </div>
            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
            <p><strong>Price:</strong> ${{item.price}}</p>
          </div>
          <button class="btn btn-primary mt-auto" (click)=addtocart(item)>Add to cart</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>