.btn-carousel{
    border: 2px solid white;
    background: transparent;
    border-radius: 50px;
    color: aliceblue;
}
div.carousel-item img{
    width: 100%;
    height: 550px;
}
div.carousel-item h2{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div.carousel-item span{
    font-weight: bolder;
}

.card {
    border-radius:5%;
    padding: 2%;
    margin: 2%;
}

.mat-card{
    border-radius:5%;
    padding: 6%;
    margin: 2%;
    width: 100%;
    height: 100%;
}
img.mat-card-image {
    padding: 11%;
}
.card img {
    width: 100%;
        height: 100%;
        object-fit: cover;
    padding: 5%;
    transition: 0.3s ease-in-out;
}
.imgContainer{
    width: 100%;
    height: 70%;
}
img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

