<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption">
          <div class="container">
            <div class="row">
              <div class="text-white">
                <span>New Arival</span>
                <h2>Denim Something</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <br>
                <div class="d-flex justify-content-around">
                  <a (click)="onClickAddCart()" class="btn btn-carousel">Add to cart</a>
                  <a (click)="onClickDiscover()" class="btn btn-carousel">Discover</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../../assets/images/carousel-image/jacket-woman.webp" class=" w-100" alt="...">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <div class="container">
            <div class="row">
              <div class="text-white">
                <span>New Arival</span>
                <h2>Denim Something</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <br>
                <div class="d-flex justify-content-around">
                  <a href="#" class="btn btn-carousel">Add to cart</a>
                  <a href="#" class="btn btn-carousel">Discover</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../../assets/images/carousel-image/men-jeans.jpg" class="w-100" alt="...">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <div class="container">
            <div class="row">
              <div class="text-white">
                <span>New Arival</span>
                <h2>Denim Something</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <br>
                <div class="d-flex justify-content-around">
                  <a href="#" class="btn btn-carousel">Add to cart</a>
                  <a href="#" class="btn btn-carousel">Discover</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../../assets/images/carousel-image/men-shoe.webp" class="w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container">
  <div class="row justify-content-center">
    <ng-container *ngFor="let item of filterCategory">
      <div class="card col-md-3" >
        <div (click)="viewProduct(item)">
          <div class="img-wrap">
            <img mat-card-image src="{{item.image}}" alt="">
          </div>
          <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
          <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
          <p><strong>Price:</strong> ${{item.price}}</p>
        </div>
        <button class="btn btn-primary mt-auto" (click)=addtocart(item)>Add to cart</button>
      </div>
    </ng-container>
  </div>
</div>