.btn-carousel{
    border: 2px solid green;
    background-color: rgba(0, 255, 0, .25);
    border-radius: 50px;
    color: black;
}

div.carousel-item{
    background-color: white;
}

div.carousel-item img{
    width: 100%;
    height: 20rem;
    object-fit: contain;
}

div.carousel-item h2{
    color: black;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.carousel-item p{
    color: black;
}

div.carousel-item span{
    color: black;
    font-weight: bolder;
}

.product-img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.title{
    margin: 10px 0px;
}

.text-wrapper{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}