.container{
  position: relative;
}
div{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.track{
    width: 80px;
}

#or{
    color: rgba(255, 255, 255, .75);
}
.sidenav{
    color: white;
    cursor: pointer;
}
.user-name{
    color: white;
    font-size: large;
    cursor:default;
}
.brand{
    font-family:Arial;
    font-weight: bold;
    font-size: xx-large;
}
.search-form{
    width: 400px;
}
.search{
    border-radius: 50px;
    width: 100%;
}

.indicator{
    position:absolute;
    top: 0;
    right: 0;
    font-size: 9px;
}
.dot{
    color: yellow;
    font-size: 50px;
}

/* .dropdown-active{

}

.drop-down{
    position: relative;
} */

.drop-down {
    position: relative;
    display: inline-block;
  }
  
  .drop-down-content {
    display: none;
    row-gap: 10px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }
  
  .dropdown-active {
    display: block;
    right: 0;
  }
  