div{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.auth{
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}
.sidenav{
    color: white;
    cursor: pointer;
}
.user-name{
    color: white;
    font-size: large;
    cursor:default;
}
.brand{
    font-family:Arial;
    font-weight: bold;
    font-size: xx-large;
}
.search-form{
    position: relative;
    width: 400px;
}
.search{
    border-radius: 50px;
    width: 100%;
}
.search-icon{
    position: absolute;
    right: 18px;
    border: none;
    background-color: inherit;
    height: 100%;
}
.indicator{
    background-color: aqua;
    border-radius: 50%;
    color: white;
    height: 18px;
    width: 18px;
    top: 0;
    right: 0;

}