<!-- <mat-toolbar color="warn">
    <div>
        <a mat-raised-button color="primary" routerLink="auth/login" routerLinkActive="active">Login</a>
        <a mat-raised-button color="primary" routerLink="auth/register" routerLinkActive="active">Register</a>
    </div>
</mat-toolbar> -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-nav ms-0">
            <mat-icon class="sidenav align-self-center" (click)="sidenavToggle()">menu</mat-icon>
            <a class="navbar-brand" routerLink="products">E-Commerce Demo</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link" routerLink="products" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="cart" routerLinkActive="active">Cart</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item auth">
                <span>
                    <a class="auth" routerLink="auth/login">Login</a>
                    /
                    <a class="auth" routerLink="auth/register">Register</a>
                </span>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
  </nav>