<div class="container-fluid py-4">
    <div class="card d-flex align-items-center p-3">
        <h1 class="card-title">Cart</h1>
        <div class="card-body cart">
            <div class="col-sm-12 empty-cart-cls text-center"> 
                <img src="../../assets/images/cart-empty.jpg" width="130" height="130" class="img-fluid mb-4 mr-3">
                <h3><strong>Your Cart is Empty</strong></h3>
                <h4>Add something to make me happy :)</h4> 
                <a routerLink="/products" routerLinkActive="active" class="btn btn-primary">
                    Shop now!
                </a>
            </div>
        </div>
    </div>
</div>