<div class="container-fluid p-4 bg-dark checkout 
    d-flex flex-column 
    justify-content-around align-items-center checkoutInActive" 

    id="checkout" *ngIf="user!==null">
    <div>
        <button class="text-light cross" (click)="checkOut()">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>
    <div class="row p-3 text-center">
        <span class="text-white h2">
            Shipping and Billing
        </span>
    </div>
    <div class="row"><hr class="text-light"></div>
    <div class="row">
        <table class="text-white table table-borderless">
            <tr class="row ">
                <td class="col-sm-2"><i class="fas fa-map-marker-alt"></i></td>
                <td class="col-sm-7">
                    <span>{{user.name.firstname}} {{user.name.lastname}}</span><br>
                    <span>
                        {{user.address.street}}, {{user.address.city}}
                    </span>
                </td>
                <td class="col-sm-3"><i class="fas fa-edit"></i></td>
            </tr>
            <tr class="row ">
                <td class="col-sm-2"><i class="fas fa-file-alt"></i></td>
                <td class="col-sm-7">
                    <span>Bill to same address</span><br>
                </td>
                <td class="col-sm-3"><i class="fas fa-edit"></i></td>
            </tr>
            <tr class="row ">
                <td class="col-sm-2"><i class="fas fa-phone-alt"></i></td>
                <td class="col-sm-7">
                    <span>{{user.phone}}</span>
                </td>
                <td class="col-sm-3"><i class="fas fa-edit"></i></td>
            </tr>
            <tr class="row ">
                <td class="col-sm-2"><i class="fas fa-envelope"></i></td>
                <td class="col-sm-7">
                    <span>{{user.email}}</span>
                </td>
                <td class="col-sm-3"><i class="fas fa-edit"></i></td>
            </tr>
        </table>
    </div>
    <div class="row text-center">
        <span class="text-white h4">
            Order summary
        </span>
    </div>
    <div class="row">
        <table class="table text-white table-borderless">
            <tr class="row  py-1">
                <td class="col">Sub-total({{products.length}} items)</td>
                <td class="col text-right">{{grandTotal}}</td>
            </tr>
            <tr class="row  py-1">
                <td class="col">Shipping Fee</td>
                <td class="col text-right">{{deliveryCharge}}</td>
            </tr>
            <tr class="row py-1"><hr></tr>
            <tr class="row py-1">
                <td class="col"><span class="h3">Total</span></td>
                <td class="col text-right"><span class="h3">{{getTotal()}}</span></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <button class="btn btn-warning text-light" (click)="makePayment()">
            Make payment
        </button>
    </div>
    
</div>

<ng-container *ngIf="products.length!=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.product.title}}</td>
                            <td><img style="width: 120px;" src="{{item.product.image}}" alt=""></td>
                            <td style="width: 25%;">{{item.product.description}}</td>
                            <th style="width: 12%;">{{item.product.price}}</th>
                            <td style="width: 12%;">{{item.quantity}}</td>
                            <td style="width: 12%;">{{item.product.price*item.quantity}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <!-- <tr> -->
                        <div class="col-md-1"><button (click)="emptycart()" class="clearBtn">Clear</button></div>
                        <div class="col-md-1"><button routerLink="/products" class="shopBtn">Shop</button></div>
                        <div class="col-md-1"><button class="checkoutBtn" (click)="checkOut()">Checkout</button></div>
                        <!-- <td colspan="3"></td> -->
                        <div class="col-md-9" style="text-align: right;font-size: x-large;"><strong>Grand Total : ${{grandTotal | number : '.2'}}</strong></div>
                    <!-- </tr> -->
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length==0">
    <div class="container-fluid py-4">
        <div class="card d-flex align-items-center p-3 w-75 self-center">
            <h1 class="card-title">Cart</h1>
            <div class="card-body cart">
                <div class="col-sm-12 empty-cart-cls d-flex flex-column justify-content-around align-items-center"> 
                    <img src="../../assets/images/cart/cart-empty.jpg" width="130" height="130" class="img-fluid mb-4 mr-3">
                    <h3><strong>Your Cart is Empty</strong></h3>
                    <h4>Add something to make me happy :)</h4> 
                    <a routerLink="/products" routerLinkActive="active" class="btn btn-primary">
                        Shop now!
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-container>
