.checkout{
    position: fixed;
    right: 0;
    bottom: 15%;
    margin-top: 10px;
    margin-right: 10px;
    width: 400px;
    z-index: 10;
    border-radius: 5px;
    display: flex;
    align-self: center;
    transition-duration: 500ms;
}
.checkoutInActive{
    right: -500px;
}
.row{
    padding: 2%;
    width: 100%;
}
.text-right{
    text-align: right;
}
.cross{
    background-color: inherit;
    border: 0;
    font-size: x-large;
}
button.shopBtn {
    padding-bottom: 8%;
    padding-right: 25%;
    border-radius: 12%;
    color: white;
    background-color: #0000ff80;
    border-color: unset;
    padding-left: 25%;
    padding-top: 8%;
    font-size: larger;
}
.checkoutBtn{
    padding-bottom: 8%;
    padding-right: 25%;
    border-radius: 12%;
    color: black;
    background-color: #b68c0f;
    border-color: unset;
    padding-left: 25%;
    padding-top: 8%;
    font-size: larger;
}
.clearBtn{
    padding-bottom: 8%;
    padding-right: 25%;
    border-radius: 12%;
    color: black;
    background-color: #006400a3;
    border-color: unset;
    padding-left: 25%;
    padding-top: 8%;
    font-size: larger;

}