:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden !important;
  }
  
  /* mat-drawer {
    width: 260px;
  } */
  mat-drawer-container {

    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* mat-drawer {
    background: #0f172a;
  }  */
  
