<div class="m-4 p-4 bg-teal-600 rounded">
    <div>
        <p class="text-3xl text-center text-white m-0">Get In Touch</p>
    </div>
    <br><hr class="text-white"><br>
    <div class="grid grid-cols-3 gap-4 text-white">
        <div class="grid grid-flow-row auto-rows-max justify-center">
            <div class="flex justify-center">
                <div class="w-10 h-10 grid place-content-center text-xl rounded-full bg-slate-400">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
            </div>
            <br>
            <div>
                <p class="text-lg">Address</p>
            </div>
            <div class="grid grid-flow-row auto-rows-max justify-center">
                <p class="truncate">5/2 Sheikh Shaheb Bazar, Azimpur</p>
                <p class="font-bold">Dhaka</p>
            </div>
            <div class="grid grid-flow-row auto-rows-max justify-center">
                <p>Fulbarigate</p>
                <p class="font-bold">Khulna</p>
            </div>
        </div>
        <div class="grid grid-flow-row auto-rows-max justify-center">
            <div class="flex justify-center">
                <div class="w-10 h-10 grid place-content-center text-xl rounded-full bg-slate-400">
                    <i class="fas fa-phone-alt"></i>
                </div>
            </div>
            <br>
            <div>
                <p class="text-lg">Phone</p>
            </div>
            <div class="grid grid-flow-row auto-rows-max justify-center">
                <p class="font-bold truncate">Mehedi Hasan Sun</p>
                <p>+8801637513296</p>
            </div>
            <div class="grid grid-flow-row auto-rows-max justify-center">
                <p class="font-bold truncate">Atkia Akila Karim</p>
                <p>+8801234567890</p>
            </div>
        </div>
        <div class="grid grid-flow-row auto-rows-max justify-center ">
            <div class="flex justify-center">
                <div class="w-10 h-10 grid place-content-center text-xl rounded-full bg-slate-400">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
            <br>
            <div>
                <p class="text-lg">Email</p>
            </div>
            <div class="grid grid-flow-row auto-rows-max justify-center">
                <p class="font-bold truncate">Mehedi Hasan Sun</p>
                <p class="truncate">bsse1025@iit.du.ac.bd</p>
            </div>
            <div class="grid grid-flow-row auto-rows-max justify-center">
                <p class="font-bold truncate">Atkia Akila Karim</p>
                <p class="truncate">bsse1015@iit.du.ac.bd</p>
            </div>
        </div>
    </div>
</div>
