.mat-card img {
    align-items: center;
    width: 70%;
    height: 100%;
}

.title {
    color: rgba(0, 0, 0, .6);
    text-align: left;
    font-size: large;
    font-weight: bold;
}

.variant {
    background-color: rgba(0, 0, 0, .04);
    padding: 2%;
    margin:1%;
}

.btn-ico {
    border: none;
    border-radius: 20px;
}

.centerTitle {
    margin: 2%;
    font-size: x-large;
    text-align: center;
}

.btn-ico:hover {
    margin-left: 2%;
    color: white;
    background-color: grey;
}

.quantity {
    border: 0;
    text-align: center;
    width: 20%
}

.rightAlign {
    text-align: right;
}

.my-form{
    min-width: 450px;
    max-width: 801px;
    width: 100%;
    font-size: large;
}