.mat-card img {
    width: 70%;
    height: 100%;
}

.title {
    color: rgba(0, 0, 0, .6);
    text-align: left;
    font-size: large;
    font-weight: bold;
}

.variant {
    background-color: rgba(0, 0, 0, .04);
    padding: 2%
}

.btn-ico {
    border: none;
    border-radius: 20px;
}

.centerTitle {
    text-align: center;
}

.btn-ico:hover {
    margin-left: 2%;
    color: white;
    background-color: grey;
}

.quantity {
    border: 0;
    text-align: center;
    width: 20%
}

.rightAlign {
    text-align: right;
}