@import "../home/home.component.scss";
.page__content-data {
    // top: 39%;
    height: 100%;
    width: 100%;
    padding: 2%;
}
table{
    height: 100%;
    width: 100%;
}
th{
    text-align: center;
}
  