// @import "";
.page__content-data {
    // top: 39%;
    height: 100%;
    width: 100%;
    padding: 2%;
}
table{
    height: 100%;
    width: 100%;
}
th.mat-header-cell {
    font-size: large;
    color: white;
    text-align: center;
}
td{
    text-align: center;
}
.trim-info {
    max-width: 150px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    line-height: 25px;
    position: relative;
 }
// button {
//     color: black;
// }
tr.mat-header-row{
    background: rgb(160, 160, 160);
}
tr.mat-row:hover {
    background: rgb(215, 212, 212);
    transition: 0.3s ease-in-out;
    transform: scale(1.02);
    height: 52px;
}
.rightAlign {

    text-align: right;
}
.addBtn{
    height: 63px;
    width: 209px;
    font-size: x-large;
    margin: 1%;
}