<div class="container bg-white rounded-md my-4 p-4 grid grid-cols-1 gap-4">
    <p class="text-xl text-center">My Profile</p>
    <hr>
    <div class="grid grid-cols-3 gap-4">
        <div>
            <p class="text-lg text-left">Full name</p>
            <p>{{user?.name?.firstname+" "+user?.name?.lastname}}</p>
        </div>
        <div>
            <p class="text-lg text-left">Email</p>
            <p>{{user?.email}}</p>
        </div>
        <div>
            <p class="text-lg text-left">Phone</p>
            <p>{{user?.phone}}</p>
        </div>
        <div>
            <p class="text-lg text-left">Username</p>
            <p>{{user?.username}}</p>
        </div>
        <div>
            <p class="text-lg text-left">Address</p>
            <p>{{user?.address?.number+", "+user?.address?.street}}</p>
            <p>{{user?.address?.city}}</p>
        </div>
    </div>
    <div class="flex justify-center">
        <button mat-button class="bg-green-300" [routerLink]="['/profile/edit']" >Edit Profile</button>
    </div>
    <p class="text-xl text-center">Recent Orders</p>
    <hr>
    <div class="grid grid-cols-1">
        <div class="grid grid-cols-6 gap-3 p-2 border-b-2 border-b-grey">
            <p>Order#</p>
            <p>Date</p>
            <p class="col-span-2">Items</p>
            <p>Total</p>
            <p>View</p>
        </div>
        <ng-container *ngFor="let order of orders">
            <div class="grid grid-cols-6 gap-3 p-2 rounded border-b-2 border-b-grey hover:bg-slate-200">
                <p>{{order.id}}</p>
                <p>{{order.date}}</p>
                <div class="col-span-2 flex overflow-x-auto">
                    <ng-container *ngFor="let o_product of order.products">
                        <img [src]="o_product.image" class="object-scale-down p-1 rounded-full h-11 w-11">
                    </ng-container>
                </div>
                <p>{{order.payment.subtotal+order.payment.shipping}}</p>
                <p>
                    <mat-icon [routerLink]="['/order', order.id]" class="cursor-pointer hover:text-cyan-500">remove_red_eye</mat-icon>
                </p>
            </div>
        </ng-container>
    </div>
</div>